<!DOCTYPE module PUBLIC "module.dtd" "platform:/resource/fs-module-support/src/main/resources/dtds/module.dtd">
<module>
	<name>$name</name>
	<version>$version</version>
	<description>$description</description>
	<vendor>$vendor</vendor>
	<components>
		<!-- 
			add your components here 
			
			TODO: auto-generate entries
		-->
		
		<!-- 
			example
		 -->
		<library>
			<name></name>
			<description></description>
			<resources>
				<!-- production code  -->
				<resource>lib/$artifact</resource>
				
				<!-- example of an included JAR (TODO: auto-generate) -->
				<resource name="joda-time" version="2.3">lib/joda-time-2.3.jar</resource>
			</resources>
		</library>
	</components>
</module>
